body {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.box {
    margin: auto;
    background-color: brown;
    widows: 40px;
    margin: 100px;
    background-color: #f1f8ff;
    border-radius: 10px;
    box-shadow: 2px 3px 0 #b9cad8;
    border: 1px;
}

.spisok {
  /* display: flex; */
  list-style-type: none;
  background: #c0f3827a;
  padding: 10px;
  margin: 10px;
}

#head {
  text-align: center;
}

#id1 {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

}

#id2 {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

}
