:root {
--color: rgba(79,185,255,.11);
--btn-color: rgba(79,185,255,.61);
--footer: linear-gradient(219deg, #8650a5 0.0%, #117dff 100.0%);
--input-color: rgba(79,185,255,.5);
--content-color: linear-gradient(305deg, rgba(164,97,204,.5) 0.0%, rgba(16,125,255,.36) 100.0%);
--header: linear-gradient(265deg, #a461cc 0.0%, #107dff 0.0%);
}

.name {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  height: 50px;
  padding-top: 0px;

}

.header {
  
  position: fixed;
	top: 0;
    background: var(--header);
	height: 60px;
    width: 100%;
    margin-left: 0px;
  margin-bottom: 100px
    /*
    width: 1000px;
    height: 60px;
    position: fixed;
    background: #fff;
    z-index: 1000;
    margin-bottom: 100px;
  */
}


.swal-modal {
  width: 350px;
  height: 300px; 
}

.swal-text {
  font-weight: bold;
  font-size: 20px;
}

.swal-overlay {
  background-color: rgba(43,165,212,.45);
}

html,
body {
	height: 100%;
    
}
.wrapper {
	position: static;
    min-height: 100%;
    background: var(--content-color);
}
.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;  
    position: absolute;
    height: 430px;
    overflow: auto;
    margin-top: 10px;
}

.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0 -5px 5px -5px rgba(0,0,0,.44);
	position: fixed;
	bottom: 0;
    background: var(--footer);
	height: 60px;
    width: 100%;
    margin-left: 0px;
}

.footer > input[type=text] {
    height: 40px;
    width: 300px;
	font-size: 20px;
    border: none;
    border-radius: 6px 0px 0px 6px;
    background: var(--input-color);/*#ececec;*/
    font-weight: bold;
}

.footer > input:focus {
	font-size: 20px;
	 opacity: 0.5
  border-bottom: 1px solid gray;
}


.footer > button {
	font-size: 22px;
    height: 40px;
    width: 50px;
    border: none;
    margin-left: 0px;
    border-radius: 0px 6px 6px 0px;
    background: var(--btn-color);/*#d9d9d9;*/
    font-weight: bold;
}
  
.item > .list-group-item {
   width: 300px;
   height: 40px;
   font-size: 17px;
   padding-top: 8px;
   border: none;
   border-radius: 6px 0px 0px 6px!important;
   background: var(--color);/*#f4f4f4;*/
   font-weight: bold;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.item > .del {
    font-size: 22px;
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 0px 6px 6px 0px!important;
    background: var(--btn-color); /*#d9d9d9;*/
    font-weight: bold;
    margin-top: 1px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3px;
}

  