.block-photo {
    overflow: auto;
    padding: 10px;
    width: 400px;
    height: 250px;
}


      .embla {
        overflow: hidden;
      }
      .embla__container {
        display: flex;
      }
      .embla__slide {
        position: relative;
        min-width: 100%;
      }