body {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 625px;
    margin-top: 19px;
    margin-bottom: 9px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img {
    width: 250px;
}

hr {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    margin-left: 152px;
    margin-right: 149px;
    margin-bottom: 100px;
}