
      .jumbotron {
        width: 900px;
        height: 600px;
        margin-top: 100px;
      }
      .display-4 {
        font-size: 100px;
      }
      .medium {
        width: 300px;
        height: 130px;
        font-size: 40px;
      }
      .high {
        width: 300px;
        height: 130px;
        font-size: 40px;
        margin-left: 20px; 
      }
      .flex-row {
        margin-top: 130px;
      }
    
      .blockquote-footer {
        font-size: 120%;
      }
